.main{
	position: relative;
	margin:0 auto;
	padding: 20px 14px 20px 14px;
	display: block;
	width: 1280px;
	/*overflow: hidden;*/
}
.leftSide{
	width: 200px;
	float:left;
}
.specials{
	box-sizing: border-box;
	display: inline-block;
	padding:0 16px;
	width: 742px;
	float:left;
}
.rightSide{
	width: 300px;
	height: 200px;
	float:left;
}

.pastSpecialAll{
	margin-top: 16px;	
}
.projectBoxList{
	margin-bottom: 26px;
}
.specialBoxList{
	margin-bottom: 16px;
}
